footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.anchor, .anchor:hover, .anchor:focus {
    color: inherit;
}

.anchor:hover {
    color: rgb(137, 186, 210);
}


img{
    height: 20px;
    width: 20px;
    padding-left: 5px;
    padding-right: 3px;
}

p{
    font-size: x-large;
}